{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 4 versions", "ie >= 9", "Firefox ESR"]
      }
    }],
    "react"
  ],
  "plugins": [
    "lodash",
    ["import", {"libraryName": "antd", "style": "css"}],
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-hot-loader/babel"
  ]
}
