
.orderTop {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #3e4d5c;
    text-align: left;
    background-color: #ddd;
    font-family: 'Microsoft YaHei';
}

.orderTop_title {
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
}

.marginCommon {
    width: 980px;
    margin: 0 auto;
    font-family:'Microsoft YaHei';
}

.info, .infoa {
    width: 59%;
    float: left;
}

.infoa {
    width: 41%;
    color: #9fa6ae;
}

.infoa_div {
    width: 100%;
    height: 335px;
}

.infoa span {
    width: 70px;
    display: inline-block;
    float: left;
    color: #9ea6ad;
    margin-right: 31px;
}

.infoa_div > div {
    width: 300px;
    height: 300px;
    padding: 5px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.bigImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.bigImg img {
    width: 288px;
    height: 288px;
    background-size: 288px 288px;
}
.bigImg input{
    position: absolute;
    font-style: normal;
    text-align: center;
    top:50%;
    margin-top:-47px;
    right: -3px;
    background:transparent;
    border:none;
    outline: none;
    color:#EBC63A;
    font-size:12px;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
    transform: scale(0.6) rotate(-14deg);
    -o-transform:scale(0.6) rotate(-14deg);
    -moz-transform:scale(0.6) rotate(-14deg);
    -webkit-transform:scale(0.6) rotate(-14deg);
    -ms-transform:scale(0.6) rotate(-14deg);

}
.info button {
    width: 120px;
    height: 40px;
    display: inline-block;
}
.infoa div {
    text-align: center;
}

.infoa button {
    width: 120px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background: #2f93e1;
    color: #fff;
    border: none;
}

.titles {
    background: #000;
    color: #fff;
    height: 20px;
    text-indent: 20px;
    line-height: 20px;
}

.title_div {
    height: 26px;
    width: 60%;
    margin: 33px auto 20px;
}

.step_one,.step_two,.my_order div {
    width: 50%;
    height: 26px;
    float: left;
    position: relative;
}

.step_one div,.step_two div {
    height: 2px;
    margin-top: 12px;
    background: #9ea6ad;
}

.step_one span,.step_two .span_one {
    height: 26px;
    width: 26px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #9ea6ad;
    line-height: 24px;
    color: #9ea6ad;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
}

.step_two .span_two{
    height:26px;
    width:26px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    border:2px solid #9ea6ad;
    line-height: 24px;
    position: absolute;
    color:#9ea6ad;
    background:#fff;
    top:0;
    right:0;
}
.my_order{
    width:70%;
    height:15px;
    margin:0 auto;
    line-height: 15px;
    text-indent:34px;

}
.my_order div{
    height:15px;
    line-height: 15px;
}
.my_order span{
    float: right;
    margin-right:20px;
}
.info ul{
    overflow: hidden;
    zoom:1;
}
.info ul li{
    margin:20px auto;
}
.info ul li:nth-child(2){
    margin:-15px auto 10px;
}
.info ul li i,.info ul li:last-child span{
    display: inline-block;
    width:90px;
    text-align: right;
    font-style: normal;
    margin-right:32px;
    color:#9ea6ad;
}
.info ul li:last-child span{
   float: left;
}
.info ul li:first-child{
    height:132px;

}
.info ul li:first-child i{
    float: left;
}
.info ul li.inputColor input{
    width:220px;
    height:42px;
    outline:none;
    border:none;
    resize: none;
    box-sizing: border-box;
    -webkit-appearance:none;
    border:1px solid #ddd;
    border-radius:4px;
    text-indent:10px;
}
.info ul li.inputColor input.inputReg{
    border:1px solid red;
}
.imgStyle,.industryImg{
    width:100px;
    height:100px;
    padding:5px;
    border-radius:2px;
    border:1px solid #ddd;
    padding:5px;
}
.imgStyle img{
    width:90px;
    height:90px;
}
.industryImg{
    width:50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}
.industryImg p{
    width:100%;
    height: 100%;
    background-image:url('../../images/sm01.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:40px 40px;
}
.industryImg p.p1{
    background-image:url('../../images/sm01.jpg');    
}
.industryImg p.p2{
    background-image:url('../../images/sm02.jpg');
}
.industryImg p.p3{
    background-image:url('../../images/sm03.jpg');
}
.industryBigImg{
    width:240px;
    height: 240px;
    padding:5px;
    border:1px solid #ddd;
    border-radius:4px;
    position: relative;
}
.industryBigImg img{
    width:230px;
    height: 230px;
    background-size:230px 230px;
}

.info ul li:nth-child(4) input{
    margin-left:40px;
    width:16px;
    height: 16px;
}
.info ul li:nth-child(4) span{
    display: inline-block;
    vertical-align: top;
    margin-top:2px;
}

.imgRadio{
    width:100px;
    height:144px;
    text-align: center;
    float:left;
    margin-right:20px;
    vertical-align: middle

}
.imgRadio input{
    width:16px;
    height:16px;
    margin-top:14px;
    outline:none;
    
}
.numbers{
    width:132px;
    height:42px;
    float: left;
}
.numbers div{
    float:left;
    width:42px;
    height:42px;
    line-height: 42px;
    text-align: center;
    font-size:18px;
}
.numbers div:nth-child(1){
    cursor: pointer;
    border:1px solid #ddd;
    border-radius:5px 0px 0px 5px;
    color:#ddd;
    font-size:28px;
}
.numbers div:nth-child(2){
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;

}
.numbers div:nth-child(3){
    cursor: pointer;
    border-radius:0 5px 5px 0px;
    border:1px solid #ddd;
    color:#ddd;


}
.con{
    margin:48px auto 50px;
    height:450px;
}
.orderButton{
   width:100%;
   height:42px;
   margin:36px auto 15px;
}
.orderButton i{
    width:122px;
    height:42px;
    display: inline-block;
    color:#fff;
    font-style: normal;
    line-height: 42px;
    background:#2f93e1;
    border-radius:3px;
    cursor: pointer;
    margin-left: 98px;
}

.writeInfo{
    margin:30px auto 28px;
}
.writeInfo,.NameOrderInfo{
    border:1px solid #ddd;
    border-radius:4px;
    padding:25px;
}
.writeInfo div{
    text-align: center;
    margin-bottom:10px;
}
.writeInfo div input{
    outline: none;
    width:362px;
    height:42px;
    border: none;
    resize: none;
    -webkit-appearance:none;
    box-sizing: border-box;
    border:1px solid #ddd;
    border-radius:4px;
    text-indent:20px;
}
.writeInfo div input.phoneReg{
    border-color:red;
}

.writeInfo>div h4,.NameOrderInfo h4{
    text-align: left;
    text-indent:32px;
    font-size: 20px;
    color:#3e4c5b;
    margin:26px auto;
}
.NameOrderInfo{
    height:400px;
    margin-bottom: 40px;
}
.infoDetail {
    width: 100%;
}
.infoDetail ul{
    float:right;
    margin-right:190px;
}
.infoDetail ul li{
    margin-bottom:38px;
}

.infoDetail ul span{
  display: inline-block;
  color: #3e4c5b;
  font-family: PingFang-SC;
  font-size: 14px;
  width:70px;
  margin-right:20px;
  text-align: right;
}
.clickButton{
    text-align: center;
}
.clickButton span{
    width:122px;
    height:42px;
    display: inline-block;
    color:#fff;
    line-height: 42px;
    background:#2f93e1;
    border-radius:3px;
    margin:0 15px 47px;
    cursor: pointer;
}

.clickButton span:first-child{
    background: #fff;
    color: #3e4d5c;
    border:1px solid #ddd;
}
.phoneText{
    text-align: center;
    color:red;
    text-indent:-232px;
}
.infoa .instruction{
    text-align: right;
}

.previewImg{
    width:500px;
    height: 500px;
    padding:7px;
    position: relative;
}
.previewImg img{
    width:486px;
    height: 486px;
}
.previewImg input,.industryBigImg input{
    position: absolute;
    font-style: normal;
    text-align: center;
    top:50%;
    margin-top:-75px;
    right: 30px;
    background:transparent;
    border:none;
    outline: none;
    color:#EBC63A;
    font-size:14px;
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000;
    transform: rotate(-14deg) scale(0.8);
    -o-transform: rotate(-14deg) scale(0.8);
    -moz-transform: rotate(-14deg) scale(0.8);
    -webkit-transform: rotate(-14deg) scale(0.8);
    -ms-transform:rotate(-14deg) scale(0.8);
}
.industryBigImg input{
    top:50%;
    margin-top:-39px;
    right: -20px;
    font-size: 12px;
    transform: rotate(-14deg) scale(0.4);
    -o-transform: rotate(-14deg) scale(0.4);
    -moz-transform: rotate(-14deg) scale(0.4);
    -webkit-transform: rotate(-14deg) scale(0.4);
    -ms-transform:rotate(-14deg) scale(0.4);
}

@media screen and (max-width:1030px) {
    .orderTop_title,.marginCommon{
        width:728px;
    }
    .imgRadio{
        width:50px;
    }
    .my_order{
        text-indent:22px;
    }
    .imgStyle{
        width:50px;
        height:50px;

    }
    .imgStyle img{
        width:40px;
        height:40px;
        background-size:40px 40px;
    }
    .info{
        width:380px;
    }
    .infoa{
        width:305px;
    }
    .infoa_div>div{
        width:200px;
        height:200px;
    }
    .info ul li.inputColor input{
        width:220px;
        height:32px;
        font-size:12px;
    }
    .info ul li:first-child{
        height:82px;
    }
    .con{
        height: 350px;
    }
    .imgRadio{
        height:95px;
    }
    .numbers{
        width:132px;
        height:42px;
        float: left;
    }
    .numbers div{
        width:30px;
        height:30px;
        line-height: 30px;
        font-size:14px;
    }
    .numbers div:nth-child(1){
        border-radius:3px 0px 0px 3px;
        font-size:14px;
    }

    .numbers div:nth-child(3){
        border-radius:0 3px 3px 0px;
    }
    .infoa p{
        width:200px;
        height:200px;
    }
    .bigImg{
        width:190px;
        height: 190px;
        background-size: 190px 190px;
    }
    .bigImg img{
        width:190px;
        height: 190px;
    }
    
    .infoa_div{
        height:200px;
    }
    .instruction{
        font-size: 12px;
    }
    .infoa button{
        width:80px;
        height:30px;
        line-height: 30px;
        font-size: 12px;
    }
    .infoDetail ul{
        margin-right:80px;
    }
    .bigImg input {
        position: absolute;
        top: 50%;
        margin-top: -36px;
        right: -29px!important;
        transform: scale(0.3) rotate(-14deg)!important;
        -o-transform: scale(0.3) rotate(-14deg)!important;
        -moz-transform: scale(0.3) rotate(-14deg)!important;
        -webkit-transform: scale(0.3) rotate(-14deg)!important;
        -ms-transform: scale(0.3) rotate(-14deg)!important;
    }
}

