.left {
  float: left;
}

.right {
  @media (min-width: 750px) {
    float: left;
    margin-top: 15px;
    clear: both;
  }

  @media (min-width: 1200px) {
    float: right;
    margin-top: 0;
    clear: none;
  }
}

.search {
  padding: 2px 22px 22px;
}

.search::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.datetitle {
  font-size: 14px;
}

.keyInput {
  border-radius: 4px 0 0 4px;
  margin-left: 20px;
  width: 150px;
}

.searchBtn {
  width: 46px;
  border-radius: 0 4px 4px 0;
  vertical-align: bottom;
}
